*{
  padding: 0;
  margin: 0;
}


/* header */

.background-header{
  background-color: #4EA0FF;
  height: 150px;
  background-image: url(../img/pattern.png);
  background-size: 30%;
}

header img{
  width: 200px;
}

/* First Block = Text + Img */

h1{
  font-size: 40px;
}