*{
  padding: 0;
  margin: 0;
}


/* header */

header{
  background-color: #4EA0FF;
  height: 150px;
  background-image: url(../img/pattern.png);
  background-size: 40%;
  padding-left: 30px;
}

header img{
  width: 250px;
}

/* MAIN */
/* First Block = Text + Img */

main{
  padding-left: 30px;
}

h1{
  font-size: 40px;
  padding-top: 20px;
  padding-bottom: 5px;
}

.images{
  padding-top: 20px;
}

.images p{
  font-size: 13px;
}

mark{
  background-color: #8FFFFF;
}

.center-text, ul{
  padding-top: 20px;
}

/* tabella */
